@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Blog Posts</h2>
            <span class="underline center"></span>
            <p class="lead">Libraries are economical because people can borrow books for free.</p>
        </div>
        <div class="breadcrumb">
            <ul>
               
               
                <li>Post Detail</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Blog Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="blog-detail-main">
                <div class="container">
                    <div class="row">
                        <div class="blog-page">
                            <div class="blog-section">
                                <article>
                                    <div class="blog-detail">
                                        <header class="entry-header">
                                            <div class="blog_meta_category">
                                                <a href="#." rel="category tag">Design</a>,
                                                <a href="#." rel="category tag">art</a>
                                            </div>
                                            <h2 class="entry-title">
                                                LIBRARY OF CONGRESS — WASHINGTON D.C., USA
                                            </h2>
                                            <div class="entry-meta">
                                                <span><i class="fa fa-user"></i> <a href="#">Admin</a></span>
                                            </div>
                                        </header>
                                        <div class="post-thumbnail">
                                            <div class="post-date-box">
                                                <div class="post-date">
                                                    <a class="date" href="#.">07</a>
                                                </div>
                                                <div class="post-date-month">
                                                    <a class="month" href="#.">Mar</a>
                                                </div>
                                            </div>
                                            <figure>
                                                <img alt="blog" src="~/images/library.webp" />
                                            </figure>
                                        </div>
                                        <div class="post-detail">
                                            <div class="post-detail-head">
                                                <div class="post-share">
                                                    <a href="#."><i class="fa fa-comment"></i> 37 Comments</a>
                                                    <a href="#."><i class="fa fa-thumbs-o-up"></i> 110 Likes</a>
                                                    <a href="#."><i class="fa fa-eye"></i> 180 Viewed</a>
                                                </div>
                                                <div class="post-social-share">
                                                    <ul>
                                                        <li>
                                                            <a href="#.">
                                                                <i class="fa fa-facebook"></i>
                                                                <span>/ Facebook</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#."><i class="fa fa-twitter"></i> <span>/ Twitter</span></a></li>
                                                        <li><a href="#."><i class="fa fa-google-plus"></i> <span>/ Google+</span></a></li>
                                                        <li><a href="#."><i class="fa fa-youtube-play"></i> <span>/ Youtube</span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="entry-content">
                                                <p>The Library of Congress in Washington DC is essentially both the national library of the U.S. and the country's oldest federal cultural institution. Though it consists of only three buildings, it is the largest library in the world for shelf space and number of volumes.While open to the public for on-site research and as a tourist attraction, as the research institution of Congress, only members of Congress, Supreme Court justices, and other specified government officials can check out books. </p>
                                                <img src="~/images/blog/post-detail-quote.jpg" class="align-left" alt="">
                                                <blockquote>
                                                    The library is formally known as the "library of last resort" in the U.S., charged with making certain items available to other national libraries if all other means have been exhausted.
                                                    <em>~ Adrey Pachai ~</em>
                                                </blockquote>
                                                <p> The library's holdings are vast, including more than 32 million books, more than 61 million manuscripts, a rough draft of the Declaration of Independence, one of only four perfect vellum copies of the Gutenberg Bible in the world, over one million newspapers from the last three centuries, over five million maps, six million pieces of sheet music, and more than 14 millions photos and prints.</p>
                                            </div>
                                            <footer class="entry-footer">
                                                <div class="col-xs-12 col-sm-12 entry-tags">
                                                    <strong><i class="fa fa-tags" aria-hidden="true"></i> Tags:</strong> <span><a href="#">Beauty</a> , <a href="#">Life Style</a> , <a href="#">Travel</a> , <a href="#">Fashion</a> , <a href="#">Health</a> , <a href="#">Food</a>, <a href="#">Adventure</a></span>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </article>
                                <div class="about-author">
                                    <img src="~/images/blog/about-author.jpg" alt="" />
                                    <div class="author-content">
                                        <div class="author-head">
                                            <h3>Tom Hanks</h3>
                                            <span class="underline left"></span>
                                        </div>
                                        <div class="post-social-share">
                                            <ul>
                                                <li>
                                                    <a href="#.">
                                                        <i class="fa fa-facebook"></i>
                                                        <span>/ Facebook</span>
                                                    </a>
                                                </li>
                                                <li><a href="#."><i class="fa fa-twitter"></i> <span>/ Twitter</span></a></li>
                                                <li><a href="#."><i class="fa fa-google-plus"></i> <span>/ Google+</span></a></li>
                                                <li><a href="#."><i class="fa fa-youtube-play"></i> <span>/ Youtube</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Morbi in erat laoreet, eleifend mi sit amet, eleifend mauris. Duis magna turpis, semper ac ligula id, elementum hendrerit augue. Aliquam euismod sem ut justo ultrices, in eleifend sapien hendrerit. Vestibulum sollicitudin dapibus aliquet. Suspendisse a commodo ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="comments-area" id="comments">
                                    <div class="comment-bg">
                                        <h4 class="comments-title">User Comments</h4>
                                        <span class="underline left"></span>
                                        <ol class="comment-list">
                                            <li class="comment even thread-even depth-1 parent">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img class="avatar avatar-32 photo avatar-default" src="~/images/blog/emma.jpg" alt="Comment Author">
                                                        <b class="fn">
                                                            <a class="url" rel="external nofollow" href="#">Emma</a>
                                                        </b>
                                                    </div>
                                                    <footer class="comment-meta">
                                                        <div class="left-arrow"></div>
                                                        <div class="reply">
                                                            <a href="#" class="comment-reply-link">
                                                                <i class="fa fa-reply"></i> Reply
                                                            </a>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2016-01-17">
                                                                    <b>Mar 17, 2016 / </b>  45 Minutes Ago
                                                                </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                                                            </p>
                                                        </div>
                                                    </footer>
                                                </div>
                                                <ol class="children">
                                                    <li class="comment odd alt depth-2">
                                                        <div class="comment-body">
                                                            <div class="comment-author vcard">
                                                                <img class="avatar photo" src="~/images/blog/peter.jpg" alt="Comment Avatar">
                                                                <b class="fn">
                                                                    <a class="url" rel="external nofollow" href="#">Peter</a>
                                                                </b>
                                                            </div>
                                                            <footer class="comment-meta">
                                                                <div class="left-arrow"></div>
                                                                <div class="reply">
                                                                    <a href="#" class="comment-reply-link">
                                                                        <i class="fa fa-reply"></i> Reply
                                                                    </a>
                                                                </div>
                                                                <div class="comment-metadata">
                                                                    <a href="#">
                                                                        <time datetime="2016-01-17">
                                                                            <b>Mar 17, 2016 / </b>  45 Minutes Ago
                                                                        </time>
                                                                    </a>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </li>
                                                </ol>
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img class="avatar avatar-32 photo avatar-default" src="~/images/blog/mathew.jpg" alt="Comment Author">
                                                        <b class="fn">
                                                            <a class="url" rel="external nofollow" href="#">Mathew</a>
                                                        </b>
                                                    </div>
                                                    <footer class="comment-meta">
                                                        <div class="left-arrow"></div>
                                                        <div class="reply">
                                                            <a href="#" class="comment-reply-link">
                                                                <i class="fa fa-reply"></i> Reply
                                                            </a>
                                                        </div>
                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <time datetime="2016-01-17">
                                                                    <b>Mar 17, 2016 / </b>  45 Minutes Ago
                                                                </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                                                            </p>
                                                        </div>
                                                    </footer>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Blog Section -->
<!-- Start: Social Network -->
<section class="social-network">
    <div class="container">
        <div class="center-content">
            <h2 class="section-title">Follow Us</h2>
            <span class="underline center"></span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul>
            <li>
                <a class="facebook" href="#" target="_blank">
                    <span>
                        <i class="fa fa-facebook-f"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="twitter" href="#" target="_blank">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="google" href="#" target="_blank">
                    <span>
                        <i class="fa fa-google-plus"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="rss" href="#" target="_blank">
                    <span>
                        <i class="fa fa-rss"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="linkedin" href="#" target="_blank">
                    <span>
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="youtube" href="#" target="_blank">
                    <span>
                        <i class="fa fa-youtube"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End: Social Network -->