
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Order details</h2>
            <span class="underline center"></span>
            <p class="lead">The standard chunk of Lorem Ipsum used since</p>
        </div>
        <div class="breadcrumb">
            <ul>
                
                <li>Order details</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Services Section -->
<div id="content" class="site-content">
    
</div>
<!-- End: Services Section -->
