
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!doctype html>
<html lang="en">

<!-- Mirrored from templates.iqonic.design/booksto/html/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jul 2023 09:33:31 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Booksto - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/admin/~/admin/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/admin/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/admin/css/responsive.css">
</head>
<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Sign in Start -->
    <section class="sign-in-page">
        <div class="container p-0">
            <div class="row no-gutters height-self-center">
                <div class="col-sm-12 align-self-center page-content rounded">
                    <div class="row m-0">
                        <div class="col-sm-12 sign-in-page-data">
                            <div class="sign-in-from bg-primary rounded">
                                <h3 class="mb-0 text-center text-white">Sign in</h3>
                                <p class="text-center text-white">Enter your email address and password to access admin panel.</p>
                                <form class="mt-4 form-text" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" name="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                                    </div>

                                    <div class="sign-info text-center">
                                        <input type="submit" class="btn btn-white d-block w-100 mb-2" name="Sign in" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sign in END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/admin/js/jquery.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/admin/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/admin/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/admin/js/waypoints.min.js"></script>
    <script src="~/admin/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/admin/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/admin/js/apexcharts.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/admin/js/lottie.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/admin/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/admin/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/admin/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/admin/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/admin/js/smooth-scrollbar.js"></script>
    <!-- Style Customizer -->
    <script src="~/admin/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/admin/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/admin/js/custom.js"></script>
</body>

<!-- Mirrored from templates.iqonic.design/booksto/html/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jul 2023 09:33:31 GMT -->
</html>



