
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <div id="buyer-box">
            <h1 class="pt-4">Member Book</h1>
            <div class="input-data">

                <link rel="stylesheet" href="~/admin/css/add_book.css">

                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputName">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" name="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNumber1">Age</label>
                            <input type="text" class="form-control" id="exampleInputNumber1" placeholder="" name="age">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNumber1">Contact Number</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="" name="contact_number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNumber1">Deposite</label>
                            <input type="text" class="form-control"  id="exampleInputName1" placeholder="" name="deposite">
                        </div>
                        <input type="submit" value="submit" />
                </form>
		
	</div>
	</div>
	</section>
	</div>